@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap');

body 
{
    font-family: "Poppins", sans-serif;
    
    
}

/* css for toggler icon */
.navbar-toggler-icon 
{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler 
{
    border: 2px solid rgb(255, 255, 255);
}

.about-title
{
    text-align: center;
    color: rgb(0, 0, 0);

}

.p-start-developing
{
    text-align: center;
}

.hr-developer-developing
{   
    position: relative;
    top: 20px;
    border: none;
    height: 10px;
    background: rgb(0, 0, 0);
    margin-bottom: 50px;
}


#footer
{
    color: white;
    background-color: #000000;
    font-style: normal;
    font-family: Arial, sans-serif;
    font-weight: normal;
    text-align: center;
    width: 100%;
    padding: 1px;
    
}